.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--header-bg);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .left,
  .right {
    display: flex;
    gap: 1rem;
  }

  button {
    font-weight: bold;
  }

  .image {
    width: 100px;
    height: 100px;
    background-image: url('../../../../assets/image.png');
    background-size: cover;
    cursor: pointer;
  }
}
