<div class="search-container">
  <div class="filters">
    <input [(ngModel)]="filter" (input)="onSearchChange()" placeholder="Search for characters by name" />

    <div class="status-buttons">
      <button type="button" class="all" [ngClass]="{ active: statusFilter === 'all' }" (click)="setStatusFilter('all')">All</button>
      <button type="button" class="alive" [ngClass]="{ active: statusFilter === 'alive' }" (click)="setStatusFilter('alive')">Alive</button>
      <button type="button" class="dead" [ngClass]="{ active: statusFilter === 'dead' }" (click)="setStatusFilter('dead')">Dead</button>
      <button type="button" class="unknown" [ngClass]="{ active: statusFilter === 'unknown' }" (click)="setStatusFilter('unknown')">Unknown</button>
    </div>

    <select name="episodes" id="episodes" [(ngModel)]="episodeFilter" (change)="onEpisodeChange()" multiple>
      <option [value]="0">All Episodes</option>
      <option *ngFor="let episode of [].constructor(51); let i = index" [value]="i+1">Episode {{ i + 1 }}</option>
    </select>
  </div>
</div>

<div class="results-count">
  <p appHighlight>{{ totalCount }} characters encountered, {{ startIndex + 1 }}-{{ endIndex }} shown </p>
</div>

<div class="character-list" #characterList>
  <app-character-card
    *ngFor="let character of filteredCharacters"
    [character]="character"
    [isAdmin]="isAdmin"
    [getStatusColor]="getStatusColor">
  </app-character-card>
</div>

<!-- Paginación -->
<div class="pagination">
  <button (click)="onFirstPage()" [disabled]="currentPage === 1">First Page</button>
  <button (click)="onPrevPage()" [disabled]="currentPage === 1">Previously Page</button>
  <span>{{ currentPage }} de {{ totalPages }}</span>
  <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next Page</button>
  <button (click)="onLastPage()" [disabled]="currentPage === totalPages">Last Page</button>
</div>
