.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 120px);
}
input, select {
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
}

div {
  display: flex;
  flex-wrap: wrap;
}

 div > div {
  margin: 1rem;
 }

button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button[disabled] {
  background-color: #ccc;
}

button + button {
  margin-left: 0.5rem;
}

span {
  font-size: 1rem;
  margin: 0 1rem;
}

img {
  width: 200px;
  height: 200px;
}


.character-card {
  padding: 20px;
  border: 2px solid transparent;
  text-align: center;
  transition: all 0.3s ease;
}

.character-card img {
  width: 100%;
  height: auto;
}

.character-card button {
  margin-top: 10px;
}

.character-card .alive {
  background-color: green;
  color: white;
}

.character-card .dead {
  background-color: red;
  color: white;
}

.character-card .unknown {
  background-color: gray;
  color: white;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-container input,
.search-container select {
  padding: 5px;
}

.results-count {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  font-weight: bold;
}

.status-colors {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.status-colors span {
  padding: 5px 10px;
  border-radius: 5px;

}

.status-colors .alive {
  background-color: green;
  color: white;
}

.status-colors .dead {
  background-color: red;
  color: white;
}

.status-colors .unknown {
  background-color: gray;
  color: white;
}

