.character-edit {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--form-bg);
  box-shadow: 0 4px 8px rgba(216, 13, 13, 0.1);
}

.character-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

mat-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button[disabled] {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #ccc !important;
  color: #666 !important;
} 
