<div class="character-edit">
  <h2>Editar Personaje</h2>
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" />
    <div *ngIf="characterForm.controls['name'].invalid && characterForm.controls['name'].touched">
      El nombre es obligatorio.
    </div>

    <label for="species">Especie:</label>
    <input id="species" formControlName="species" />
    <div *ngIf="characterForm.controls['species'].invalid && characterForm.controls['species'].touched">
      La especie es obligatoria.
    </div>

    <label for="status">Estado:</label>
    <select id="status" formControlName="status">
      <option value="Alive">Vivo</option>
      <option value="Dead">Muerto</option>
      <option value="unknown">Desconocido</option>
    </select>

    <label for="image">Imagen URL:</label>
    <input id="image" formControlName="image" />

    <mat-form-field appearance="fill">
      <mat-label>Selecciona episodios</mat-label>
      <mat-select formControlName="episode" multiple>
        <mat-option *ngFor="let episode of [].constructor(51); let i = index" value="{{i+1}}">

            Episodio {{ i+1 }}

        </mat-option>
      </mat-select>
    </mat-form-field>

    <label for="location">Localizacion:</label>
    <input id="location" formControlName="location" />
    <div *ngIf="characterForm.controls['location'].invalid && characterForm.controls['location'].touched">
      La localizacion es obligatoria.
    </div>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de aparición:</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="created" />

        <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
      <div *ngIf="characterForm.controls['created'].invalid && characterForm.controls['created'].touched">
        La fecha de aparicion es obligatoria.
      </div>


    <button type="submit" [disabled]="characterForm.invalid">Guardar</button>
  </form>


</div>
