/* Estilos del pie de página */
.footer {
  background-color: var(--header-bg);
  color: var(--text-color);
  text-align: center;
  padding: 2rem;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


