.character-card {
  padding: 20px;
  border: 2px solid transparent;
  text-align: center;
  transition: all 0.3s ease;
  height: 460px;
  align-content: center;
}

.character-card img {
  width: 100%;
  height: 192px;
}

.character-card button {
  margin-top: 10px;
}

.character-card .alive {
  background-color: green;
  color: white;
}

.character-card .dead {
  background-color: red;
  color: white;
}

.character-card .unknown {
  background-color: gray;
  color: white;
}
