.character-detail {
  border: 2px solid transparent;
  text-align: center;
  justify-self: center;
   width: 460px;
   margin: 20px;
   padding: 20px;
}

.character-detail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.character-detail img {
  width: 300px;
  height: 300px;
}
