<div class="character-detail">
  <h2>{{ character.name }}</h2>
  <img [src]="character.image" alt="{{ character.name }}" />
  <p><strong>Especie:</strong> {{ character.species }}</p>
  <p><strong>Estado:</strong> {{ character.status }}</p>
  <p><strong>Primera aparición:</strong> {{ character.created | date: 'MMMM d, y' }}</p>

  <!-- Botones solo visibles para el ADMIN -->
  <div *ngIf="isAdmin">
    <button mat-button (click)="openEditConfirmDialog()">Editar</button>
    <button mat-button color="warn" (click)="openDeleteConfirmDialog()">Eliminar</button>
  </div>
</div>

