<div class="character-detail" [ngStyle]="{ 'border-color': getStatusColor(character.status) }">
  <h2>{{ character.name }}</h2>
  <img [src]="character.image" alt="{{ character.name }}" />
  <p><strong>Species:</strong> {{ character.species }}</p>
  <p><strong>Status:</strong> {{ character.status }}</p>
  <p><strong>First appearance:</strong> {{ character.created | date: 'MMMM d, y' }}</p>
  <p><strong>Episodes:</strong> {{ character.episode.length }}</p>
  <p><strong>Location:</strong> {{ character.location.name }}</p>

  <div *ngIf="isAdmin">
    <button mat-button (click)="openEditConfirmDialog()">Edit</button>
    <button mat-button color="warn" (click)="openDeleteConfirmDialog()">Delete</button>
  </div>
</div>

